.title1 {
    color: var(--nh-green);
    font-family: Coquette;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.734px;
    margin-top: 1em;
    padding-top: 0;
    margin-bottom: 0;
}

.title2 {
    color:  var(--nh-pink);
    font-family: CarlMarx;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.086px;
    margin-top: 0;
}