.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--nh-gray);
    border: 2.5px solid var(--nh-green);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: none;
    font-size: 2rem;
    color: var(--nh-green);
    background: url('../assets/images/texture.png') no-repeat left top;
    background-position: cover;
    background-color: var(--nh-green-light);
    border-bottom: 2.5px solid var(--nh-green);
  }

.flower1 {
    position: absolute;
    pointer-events: none;
    top: -1.2em;
    left: -1.2em;
    width: 4.6em;

  }
.flower2 {
    position: absolute;
    pointer-events: none;
    top: 1.8em;
    right: -1.6em;
    width: 4.6em;
  }

  .icon_heart {
    height: 2em; /*using em to scale relatively with font size*/
    margin-right: 0.25rem;
  }

  .videoWrapper {
    height: 28vh;               
    aspect-ratio: 4 / 3;
    overflow: hidden;
    position: relative;
    margin: 1.2em 1.2em 0 1.2em;
  }
  
  .video {
    position: absolute;
    top: -10%;                   /* cropping the image  */
    left: -10%;
    width: 120%;                 /* zoom in slightly */
    height: 120%;
    object-fit: cover;
  }
  
  .text {
    font-size: 0.9rem;
    color: var(--nh-green-body);
    max-width: 35ch;
    text-align: center;

  }
  

  

  